@{
    ViewBag.Title = "About";
}
<!DOCTYPE Html>
<html>
<head>
    <tile>Home page</tile>
    <link href="~/Css/Homestyle.css" rel="stylesheet" />
</head>
<body>


    <div class="row">
        <div class="col-md-4">
            <h2>Medications</h2>
            <img src="~/Images/medication.jpg" />
            <p>Hospitals administer medications to treat various conditions. This includes oral medications, intravenous (IV) medications, injections, and infusions. </p>
        </div>
        <div class="col-md-4">
            <h2>Heart Surgery:</h2>
            <img src="~/Images/heart.jpg" />
            People with many different heart problems need heart surgery. These include blockages in the arteries that carry blood to your heart, valves that aren’t working right, and abnormal heart rhythms.Usually, heart surgery is planned in advance as part of your treatment plan. This happens when your provider (usually your cardiologist) diagnoses a problem with your heart, and surgery is the best or only way to fix it.
        </div>
        
        <div class="col-md-4">
            <h2>Emergency care::</h2>
            <img src="~/Images/emergency.jpg" />
            <p>
                Hospitals have emergency departments that provide immediate medical treatment for life-threatening conditions, injuries, and acute illnesses. This includes stabilizing patients, performing resuscitation, and providing urgent interventions.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h2>Radiation therapy:</h2>
            <img src="~/Images/radition.jpg" />
            <p>
                Some hospitals have specialized departments for radiation therapy, which is used in the treatment of cancer. Radiation therapy involves using high-energy radiation to target and destroy cancer cells.
            </p>
        </div>
        <div class="col-md-4">
            <h2>Orthology:</h2>
            <img src="~/Images/orthology.jpg" />
            <p>
                An orthology is a trait in two or more species that was inherited from a common ancestor. It can be contrasted with an evolutionary analogy, which is a similar trait that evolved independently. Genes passed from parents to offspring can remain intact, which will often result in the manifestation of similar physical traits.If genes mutate many times, however, they can end up producing similar outward traits through natural selection. Orthology in different species refers to similar traits whose genes have an inherited, rather than mutated, origin.

            </p>
        </div>
        <div class="col-md-4">
            <h2>Neurology:</h2>
            <img src="~/Images/neurology.jpg" />
            <p>
                Neurology is a branch of medicine that deals with the study, diagnosis, and treatment of disorders and diseases of the nervous system. The nervous system is a complex network of cells and fibers that transmit signals between different parts of the body and the brain. It includes the brain, spinal cord, and peripheral nerves.

                Neurologists are medical doctors who specialize in neurology. They diagnose and treat a wide range of conditions that affect the nervous system, including diseases like epilepsy, multiple sclerosis, Parkinson's disease, Alzheimer's disease, stroke, and brain tumors, as well as peripheral nerve disorders and neuromuscular diseases
            </p>
        </div>

    </div>

    <div class="row">

        
        <div >
            <h2>Surgery:</h2>
            <img src="~/Images/surgery.jpg" />
            <p>
                The act of performing surgery may be called a surgical procedure or operation, or simply "surgery". In this context, the verb "operate" means to perform surgery. The adjective surgical means pertaining to surgery; e.g. surgical instruments, surgical facility or surgical nurse. Most surgical procedures are performed by a pair of operators: a surgeon who is the main operator performing the surgery, and a surgical assistant who provides in-procedure manual assistance during surgery. Modern surgical operations typically require a surgical team that typically consists of the surgeon, the surgical assistant, an anaesthetist (often also complemented by an anaesthetic nurse), a scrub nurse (who handles sterile equipment), a circulating nurse and a surgical technologist, while procedures that mandate cardiopulmonary bypass will also have a perfusionist. All surgical procedures are considered invasive and often require a period of postoperative care (sometimes intensive care) for the patient to recover from the iatrogenic trauma inflicted by the procedure.
        </div>
    </div>
    
       
    

</body>
</html>
