
@{
    ViewBag.Title = "Home Page";
}
<!DOCTYPE Html>
<html>
<head>
    <tile>Home page</tile>
    <link href="~/Css/Homestyle.css" rel="stylesheet" />
</head>
<body>
    
    <div class="jumbotron">
        <h1>Welcome</h1>

        <img class="" src="~/Images/welcom.jpg" />
        <p class="lead">Welcome to our Doctor Appointment system! We understand the importance of your health and are dedicated to providing you with convenient and efficient healthcare services. With our user-friendly platform, you can easily schedule appointments with qualified doctors in various specialties. </p>
        <p><a href="" class=" btn btn-primary btn-lg">learn more &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2></h2>
        </div>
    </div>


</body>
</html>
